.box-route-all{

    height: 650px;
    width: 1000px;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/img-cliente/img-all.jpg_large');
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow-y: scroll;
    
}

.box-route-all .title-players-all{
    
    font-size: 50px;
    color: white;
    text-shadow: blueviolet 4px 1px;
    
}